<div id="footer" class="container-fluid">
    <div class="con container">
        <div class="service row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <i></i>
                <strong>个性化定制</strong>
                <p>
                    <small>一铺一方案，全方案定制</small>
                    <small>充分满足每个客户的实际需求</small>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <i></i>
                <strong>专业服务</strong>
                <p>
                    <small>专注店铺转让业务6年+</small>
                    <small>专业服务团队，资深服务专员</small>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <i></i>
                <strong>高性价比</strong>
                <p>
                    <small>服务全程价格透明</small>
                    <small>第三方免费监督与投诉</small>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <i></i>
                <strong>绝佳体验</strong>
                <p>
                    <small>特色快转服务，全程跟踪服务</small>
                    <small>成功转让是我们的服务终点</small>
                </p>
            </div>
        </div>
        <div class="copy row">
            <div class="col-sm-7 col-md-7 col-lg-7">
                <ul class="list-inline">
                    <li><a href="javascript:;">关于我们</a></li>
                    <li><a href="javascript:;">团队介绍</a></li>
                    <li><a href="javascript:;">品牌合作</a></li>
                    <li><a href="javascript:;">服务协议</a></li>
                </ul>
                <p>CopyRight &copy; 2016-2017<a href="http://www.tengp.wang">腾铺网 tengp.wang</a>苏ICP备17010898号-1</p>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 text-right">
                <a href="javascript:;" class="btn btn-match btn-lg"><i class="fa fa-qq"></i>在线业务咨询</a>
                <span><i class="fa fa-mobile-phone"></i>025-52260598</span>
            </div>
        </div>
    </div>
</div>