<div id="top" class="index container-fluid">
    <div class="con container">
        <a href="javascript:;" class="visible-xs-block"><i class="fa fa-reorder"></i></a>
        <ul class="list-inline hidden-xs">
            <li><a href="default.htm">主站</a></li>
            <li><a href="index.htm">分站首页</a></li>
            <li><a href="">商铺转让</a></li>
            <li><a href="">商铺租售</a></li>
            <li><a href="">写字楼</a></li>
            <li><a href="">厂房仓库</a></li>
            <li><a href="">求租求购</a></li>
        </ul>
    </div>
</div>