<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>腾铺网</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="腾铺网是一家专业从事店铺转让，商铺出租,物业招商的连锁公司">
    <meta name="keywords" content="腾铺网，店铺，商铺，转让，店铺转让，商铺转让，店铺出租，物业招商，厂房出租">
    <meta name="baidu-site-verification" content="N9fFOPhWe4"/>
    <meta name="google-site-verification" content="zLcrzZ-MpFdK9sk29U0AHsHx4EiGX_FvdptyWT7c2L8"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div id="header" class="default container-fluid" style="cursor:pointer"
     onclick="javascript:window.location.href='http://nj.tengp.wang'">
    <div class="con container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <a href="http://nj.tengp.wang" title="南京腾铺"><img src="img/default-logo.jpg"/></a>
            </div>
            <div class="text-right col-sm-6 col-md-6 col-lg-6">
            <span>
              7*24小时免费咨询
              <strong>025-52260598</strong>
            </span>
            </div>
        </div>
    </div>
    <div class="con container">
        <h2>定位<span>南京</span>，覆盖全国各大特色城市</h2>
        <!--<p><a href="/index">您的目标城市<i class="fa fa-map-marker"></i></a></p>-->
        <!--<p>-->
        <!--<a href="" class="btn btn-match">登录</a>-->
        <!--<a href="" class="btn btn-default">注册</a>-->
        <!--</p>-->
    </div>
</div>

<div class="default-service container-fluid">
    <div class="con container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <i></i>
                <strong>个性化定制</strong>
                <p>一铺一方案，全方案定制</p>
                <p>充分满足每个客户的实际需求</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <i></i>
                <strong>专业服务</strong>
                <p>专注店铺转让业务6年+</p>
                <p>专业服务团队，资深服务专员</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <i></i>
                <strong>高性价比</strong>
                <p>服务全程价格透明</p>
                <p>第三方免费监督与投诉</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <i></i>
                <strong>绝佳体验</strong>
                <p>特色快转服务，全程跟踪服务</p>
                <p>成功转让是我们的服务终点</p>
            </div>
        </div>
    </div>
</div>


<div class="default-brand container-fluid">
    <div class="con container">
        <h3 class="text-center">
            <strong>合作品牌</strong>
            <small>全国各大知名品牌连锁机构超过100+</small>
        </h3>
        <div class="list">
            <div class="item"><img src="img/logo-lovever.jpg"></div>
            <div class="item"><img src="img/logo-bulegulf.jpg"></div>
            <div class="item"><img src="img/logo-chlitina.jpg"></div>
            <div class="item"><img src="img/logo-wsteak.jpg"></div>
            <div class="item"><img src="img/logo-zyj.jpg"></div>
            <div class="item"><img src="img/logo-michelin.jpg"></div>
            <div class="item"><img src="img/logo-hsay.jpg"></div>
            <div class="item"><img src="img/logo-centurymart.jpg"></div>
            <div class="item"><img src="img/logo-philips.jpg"></div>
            <div class="item"><img src="img/logo-yt.jpg"></div>
        </div>
        <!--<p class="text-center"><a href="#" class="btn btn-default btn-lg">查看全部商家</a></p>-->
    </div>
</div>

<div class="default-case">
    <img src="img/default-pic.jpg">
    <p class="text-center">专注行业<strong>6</strong>年+<br/><strong>76547</strong>个成功案例</p>
</div>

<!--
<div class="default-team container-fluid">
    <div class="con container">
        <h3><strong>为什么选择我们？</strong></h3>
        <div class="list"></div>
    </div>
</div>
-->

<div class="default-coop container-fluid">
    <div class="con row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="http://www.idinfo.cn" target="_blank"><img
                src="img/logo-foot-idinfo.jpg" alt=""></a></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="http://www.scca.gov.cn" target="_blank"><img
                src="img/logo-foot-sxtx.jpg" alt=""></a></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="http://www.58.com" target="_blank"><img
                src="img/logo-foot-58.jpg" alt=""></a></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="http://www.ganji.com" target="_blank"><img
                src="img/logo-foot-ganji.jpg" alt=""></a></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="http://www.cdgs.gov.cn" target="_blank"><img
                src="img/logo-foot-cdgs.jpg" alt=""></a></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="http://www.gaj.chengdu.gov.cn" target="_blank"><img
                src="img/logo-foot-cdga.jpg" alt=""></a></div>
    </div>
</div>

<div id="footer" class="container-fluid">
    <div class="con container">
        <div class="copy row">
            <div class="col-sm-7 col-md-7 col-lg-7">
                <ul class="list-inline">
                    <li><a href="javascript:;">关于我们</a></li>
                    <li><a href="javascript:;">团队介绍</a></li>
                    <li><a href="javascript:;">品牌合作</a></li>
                    <li><a href="javascript:;">服务协议</a></li>
                </ul>
                <p>CopyRight &copy; 2016-2017<a href="http://www.tengp.wang">腾铺网 tengp.wang</a>苏ICP备17010898号-1</p>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 text-right">
                <a href="javascript:;" class="btn btn-match btn-lg"><i class="fa fa-qq"></i>在线业务咨询</a>
                <span><i class="fa fa-mobile-phone"></i>025-52260598</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>