<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>腾铺网</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="腾铺网是一家专业从事店铺转让，商铺出租,物业招商的连锁公司">
    <meta name="keywords" content="腾铺网，店铺，商铺，转让，店铺转让，商铺转让，店铺出租，物业招商，厂房出租">
    <meta name="baidu-site-verification" content="N9fFOPhWe4"/>
    <meta name="google-site-verification" content="zLcrzZ-MpFdK9sk29U0AHsHx4EiGX_FvdptyWT7c2L8" />
    <!-- css -->
    {% include "../_include/css.html" %}
    <!-- js -->
    {% include "../_include/js.html" %}
</head>
<body data-spy="scroll" data-target=".nav-fast">

{% include "../_include/top.html" %}

{% include "../_include/header.html" %}


<div id="main-content">
    {% block main-content %}{% endblock %}
</div>

{% include "../_include/footer.html" %}
</body>
</html>